<h2 class="country-name">{{name}}</h2>
<div class="country-info">
    <ul class="country-info--list">
        <li>
            <p><span class="country-info--category">Capital: </span>{{capital}}</p>
        </li>
        <li>
            <p><span class="country-info--category">Population: </span>{{population}}</p>
        </li>
        <li class="country-info--languages">
            <p><span class="country-info--category">Languages:</span></p>
            <ul class="languages-list">
                {{#each languages}}
                <li>
                    {{name}}
                </li>
                {{/each}}
            </ul>
        </li>
    </ul>
    <img class="shadow-lg mb-5 bg-white rounded" src="{{flag}}" alt="" width="480" >
</div>